.glightbox-container .gslide-image img {
  max-width: 95%;
  max-height: 95%;
  height: auto;
  width: auto;
  object-fit: contain;
  display: block;
}

.glightbox-container .gslide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.glightbox-container .gslide-description {
  max-width: 90%;
  color: #ccc;
  font-size: 0.875rem;
}

.gslide-media > img {
  border-radius: 8px 8px 0 0;
}

.gslide-description {
  border-radius: 0 0 8px 8px;
}

@media (aspect-ratio <= 1 / 1) and (width <= 480px) {
  .gslide-media > img {
    border-radius: 8px;
  }
}
