---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Tentang Kami" />
  <Breadcrumbs items={[{ label: 'Tentang Kami', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mt-0">
          Berdikari Space adalah ruang inkubasi dan laboratorium kreatif
          teman-teman di Bekasi yang di mana memiliki konsen dengan isu-isu
          persoal seni budaya, ekologis, sastra, literasi, hingga isu sosial.
        </p>
        <p>
          Sejarah Berdikari Kopi: <br />
          Berdikari Kopi adalah unit usaha mikro yang dibangun selain menjadi lumbung
          ekonomi tapi juga menjadi ruang dan laboratorium belajar kreatifitas dan
          wacana. Berdiri pada 24 Maret 2018, dengan lokasi awal berdiri di Jalan
          Jatikubang, Mekarsari— dan sekarang berpindah di Jalan Mekarsari Tengah
          sejak Desember 2019.
        </p>
        <p>
          Satu tahun pertama program-program Berdikari ialah program-program
          kesenian dan sastra-literasi— dengan keterbatasan ruang— yang di mana
          saat itu masih berada di fasilitas umum dengan ruangan terbuka 3x3
          meter luasnya. Setelah memasuki tahun kedua, dan juga berpindahnya
          lokasi Berdikari Kopi— pada ruang yang lebih memumpuni—
          program-program yang Berdikari Kopi garap menjadi lebih variatif:
          Workshop kesenian (rupa, kriya, hingga pertunjukan), screening film &
          diskusi, malam puisi & sastra, pameran seni rupa hingga arsip, belajar
          bahasa isyarat, serta lokakarya kampanye, dan banyak hal lainnya.
        </p>
        <p>
          Pada Oktober 2024, Berdikari Kopi sebagai unit usaha merasa sudah
          saatnya membuat sebuah ruang atau kamar inkubasi dan laboratorium,
          yang di mana agar program-program tersebut dapat dimaksimalkan secara
          lebih jauh ke depan, maka dari itu kami membangun kamar 'Berdikari
          Space', yang di mana kamar tersebut akan menjadi laboratorium yang
          jauh lebih mendalam dari sebelumnya.
        </p>
      </div>

      <h2 class="mb-4 text-2xl font-medium">Example Projects Listing</h2>
      <div class="flex flex-col gap-4">
        {projects.map((project) => <ProjectCard project={project} />)}
      </div>
    </div>
  </section>
</Layout>
